<ion-header>
  <ion-toolbar color="primary">
      <ion-title>درباره ما</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref=""></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>


  <ion-card-content>
   <p class="ion-text-justify">
    فروشگاه دوم شهر زمستان سال 1401 قسمت پزشکی خود را در شهر همدان راه انداری کرد. فروشگاه پزشکی دوم شهر یک پلتفرم متفاوت در زمینه فروش و خدمت به مراکز پزشکی از قبیل مطب،کلینیک زیبایی، دندان پزشکی و سونوگرافی و رادیولوژی، درمانگاههای شبانه روزی و فیزوتراپی و ... می باشد.
   </p>
   <br>
   <p class="ion-text-justify">
    این پلتفرم به منظور راحتی خرید نیازمندی های مراکز پزشکی برای منشی های عزیر راه اندازی شده است که سفارش های خود را به صورت بسته و در محل مورد نظر تحویل میگیرند.
   </p>
   <br>
   <p class="ion-text-justify">
    از شما عزیران درخواست داریم اگر در حین کار کردن با اپلیکشن به مورد فنی برخورد کردین و یا برای بهبود فرآیند خرید پیشنهاداتی داشتین با ما در ارتباط باشید.
   </p>
   <br>
   <p class="ion-text-center shop">
    فروشگاه پزشکی دوم شهر
  </p>
  <br>
<label>
<ion-icon name="call-outline"></ion-icon>
09376421351
</label>

   <br>
   <label>
    <ion-icon name="call-outline"></ion-icon>
    09376421351
  </label>
   <br>
   <label>
    <ion-icon name="call-outline"></ion-icon>
    09376421351
  </label>
   <div>
    <p class="ion-text-center">
      نسخه 1.0.0
    </p>
    <p class="ion-text-center">
      کلیه حقوق این اپلیکیشن متعلق به شرکت فناوران آویژه آریا می باشد.
    </p>
   </div>
  </ion-card-content>
</ion-card>
</ion-content>

